<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Media Journal</title>
</head>

<body>
  <div class="top-right">
    {% if session.user_id %}
      Logged in as <a href="/user/{{ user.id }}">{{ user.username }}</a>
    {% else %}
      You are not logged in
    {% endif %}

</div>
  <div class="nav">
    <ul>
      {% if session.user_id %}
      <li>
        <a href="/logout">Log out</a>
      </li>
      {% else %}
      <li>
        <a href="/typelogin">Log in</a>
      </li>
      <li>
        <a href="/register">Register</a>
      </li>
      {% endif %}
    </ul>
  </div>

  <div class="content">
    <p>
      <a href="/listusers">View users</a>
    </p>
    <p>
      <a href="/listmedia">View media entries</a>
    </p>
    <p>
      <a href="/search">Search</a>
    </p>
    <p>
      {% if session.user_id %}
      <a href="/add">Add entry</a>
      {% endif %}
    </p>
  </div>
</body>
</html>