<!DOCTYPE html>
<html>
<!-- This page shows a list of the created users -->
<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Users</title>
</head>

<body>
  <div class="nav">
<!-- User can navigate back to the home page-->
      <p>
    <a href="/">Home</a>
  </p>
  </div>
  <div class="content">
        <p>
<!-- Add here a list of links to user profiles-->
 <h3>Registered users: </h3>
        {% for user in users %}
            <li>
                <a href="/user/{{ user.id }}">{{ user.username }}</a>
            </li>
        {% endfor %}
  </p>

  </div>
</body>

</html>