<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Registration</title>
</head>

<body>
    <div class="nav">
<!-- User can navigate back to the home page-->
      <p>
    <a href="/">Home</a>
  </p>
  </div>
  <div class="container">
    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}

    {% if success %}
      <div class="success">{{ success }}</div>
    {% endif %}

    <form action="/create" method="post">
      <p>
        Username: <br />
        <input type="text" name="username" value="{{ username or '' }}" />
      </p>
      <p>
        Password: <br />
        <input type="password" name="password1" />
      </p>
      <p>
        Password again: <br />
        <input type="password" name="password2" />
      </p>
      <input type="submit" value="Create account" />
    </form>
  </div>
</body>

</html>