{% extends "layout.html" %}

{% block title %}Register{% endblock %}


{% block content %}

<body>
  <div class="container">
    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}

    {% if success %}
      <div class="success">{{ success }}</div>
    {% endif %}

    <form action="/create" method="post">
      <p>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" maxlength="50" value="{{ username or '' }}" />
      </p>
      <p>
        <label for="password">Password:</label><br>
        <input type="password" id="password" maxlength="100" name="password1" />
      </p>
      <p>
        <label for="password2">Password again:</label><br>
        <input type="password" id="password2" maxlength="100" name="password2" />
      </p>
      <input type="submit" value="Create account" />
    </form>
  </div>
</body>
{% endblock %}
</html>