{% extends "layout.html" %}

{% block title %}Delete entry{% endblock %}


{% block content %}

 
<body>
  <div class="content">
    <form action="/remove/{{ entry.id }}" method="post">
      <p>
        This entry will be deleted. Proceed?
      </p>
      <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      <input type="submit" name="continue" value="Yes, delete" />
      <input type="submit" name="cancel" value="Cancel" />
    </form>
  </div>
</body>
{% endblock %}