{% extends "layout.html" %}

{% block title %}Search{% endblock %}


{% block content %}

<body>
  <div class="search">
    <form action="/search" method="get">
        <input type="text" name="query" value="{{ query }}" maxlength="100" placeholder="...">
            <select name="genre_id">
      <option value="">All genres</option>
      {% for genre in genres %}
        <option value="{{ genre.id }}"
          {% if selected_genre_id and selected_genre_id|string == genre.id|string %}selected{% endif %}>
          {{ genre.name }}
        </option>
      {% endfor %}
    </select>
<select name="min_rating">
  <option value="">Any rating</option>
  {% for i in range(2, 11) %}
    <option value="{{ i }}"
      {% if min_rating == i|string %}selected{% endif %}>
      {{ i }}+
    </option>
  {% endfor %}
</select>
        <button type="submit">Search</button> <br>
    </form>
    </div>

  {% if query or selected_genre_id or min_rating %}
    {% if entries %}
      <div class="cards"> 
        {% for entry in entries %}
          <div class="card databox">
            <h3>{{ entry.name }}</h3> 
            <p> <span class=data>({{ entry.release_year }})</span></p>
            <p> <span class=data>Type: {{ entry.mediatype_name }}</span></p>
            <p> <span class=data>Genres: {{ entry.genres if entry.genres else "No genres" }}</span></p>
            <p> <span class=data>Description: {{ entry.description }}</span></p>
            <p> <span class=data>Average rating: {{ "%.1f"|format(entry.avg_rating) }}</span></p>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <p>No results</p>
    {% endif %}
      <p>
    {% if page > 1 %}
      <a href="{{ url_for('search', page=page-1, query=query, genre_id=selected_genre_id, min_rating=min_rating) }}">&lt;&lt;</a>
    {% endif %}

    Page {{ page }}/{{ page_count }}

    {% if page < page_count %}
      <a href="{{ url_for('search', page=page+1, query=query, genre_id=selected_genre_id, min_rating=min_rating) }}">&gt;&gt;</a>
    {% endif %}
  </p>
  {% endif %}

</body>
{% endblock %}
</html>