{% extends "layout.html" %}

{% block title %}Log in{% endblock %}


{% block content %}

<body>
  <div class="container">
    {% if session.username %}
    <p>
      You are logged in as {{ session.username }}
    </p>
    <p>
      <a href="/logout">Log out</a>
    </p>
    {% else %}

    {% if error %}
      <p class="error">{{ error }}</p>
    {% endif %}

    <form action="/login" method="post">
      <p>
        Username: <br />
        <input type="text" name="username" />
      </p>
      <p>
        Password: <br />
        <input type="password" name="password" />
      </p>
      <input type="submit" value="Log in" />
    </form>

    <p>
      <a href="/register">Create an account</a>
    </p>
    {% endif %}
      {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}
  </div>
</body>
{% endblock %}
</html>