{% extends "layout.html" %}

{% block title %}Profile{% endblock %}


{% block content %}


<body>

  <div>
     <h3> Profile: {{ user.username }} </h3>
  </div>
    <p>
    <p>
     Number of reviews: {{ review_count }}
     </p>
     <p>
     Average score: 
     {% if avg_rating is not none %}
  {{ "%.1f"|format(avg_rating) }} / 10
{% else %}
  No ratings
{% endif %}
     </p>
     </p>
     <div class="cards">
    {% for review in reviews %}
  <div class="card databox"> 
    <h3>{{ review.name }} </h3>
    <p> <span class=data>Rating: {{ review.rating }}/10</span></p>
    <p> <span class=data>Comment: {{ review.comment }} </span></p>
    <p> <span class=data>Date: {{ review.date_added }} </span></p>
      {% if session.get("user_id") and review.user_id == session.get("user_id") %}
  <p>
    <a href="/editreview/{{ review.id }}">Edit</a> |
    <a href="/removereview/{{ review.id }}">Remove</a>
  </p>
  
  {% endif %}
  </div>
  {% endfor %}
</div>
        <p>
    <a href="/user/{{ user.id }}/{{ page - 1 }}">&lt;&lt;</a>
    Page {{ page }}/{{ page_count }}
    <a href="/user/{{ user.id }}/{{ page + 1 }}"">&gt;&gt;</a>
  </p>
  </div>

</body>
{% endblock %}
</html>