<!DOCTYPE html>
<html>
<!-- This is the user page, where a list of added reviews is shown along with statistics related to the user -->
<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Reviews</title>
</head>

<body>
  <div class="nav">
<!-- User can navigate back to the home page-->
      <p>
    <a href="/">Home</a>
  </p>
  </div>
  <div>
    Profile: {{ user.username }}
  </div>
  <div class="content">
    <p>
     Number of reviews: {{ reviews | count }}
     </p>
     <p>
     Average score: {{ avg_rating }}
     </p>
    {% for review in reviews %}
  <p class="entries"> 
    {{ review.name }} {{ review.rating }}/10
    {{ review.comment }} {{ review.date_added }} 
  </p>
      {% if session.get("user_id") and review.user_id == session.get("user_id") %}
  <p>
    <a href="/editreview/{{ review.id }}">Edit</a> |
    <a href="/removereview/{{ review.id }}">Remove</a>
  </p>
  {% endif %}
  {% endfor %}

  </div>
</body>

</html>